<kendo-gantt
  [style.height.px]="500"
  [data]="data"
  (cellClick)="handleCellClick($event)"
  (cellClose)="handleCellClose($event)"
  #gantt
  (taskDblClick)="onDblClick($event)"
  (taskDelete)="confirm(gantt)"
  (save)="saveTask($event)"
  (remove)="removeTask($event)"
  (cancel)="cancelEditing($event)"
  kendoGanttExpandable
  [initiallyExpanded]="true"
  childrenField="subtasks"
  [activeView]="activeView"
  [toolbarSettings]="{ position: 'none' }"
  [treeListPaneOptions]="{
    collapsed: false,
    collapsible: false
  }"
  [timelinePaneOptions]="{
    collapsed: false,
    collapsible: false,
    size: '70%'
  }"
>
  <!-- <kendo-gantt-column
    field="title"
    title="Task"
    [width]="200"
    [expandable]="true"
  ></kendo-gantt-column> -->
  <kendo-gantt-column
    field="start"
    title="Unlock at"
    format="E hh:mm a"
    [width]="120"
  >
    <ng-template
      kendoGanttEditTemplate
      let-formGroup="formGroup"
      let-column="column"
    >
      <kendo-datetimepicker
        [format]="dateTimeFormat"
        [formControl]="formGroup.get(column.field)"
        [readOnlyInput]="true"
      ></kendo-datetimepicker> </ng-template
  ></kendo-gantt-column>
  <kendo-gantt-column
    field="end"
    title="Lock at"
    format="E hh:mm a"
    [width]="120"
  >
    <ng-template
      kendoGanttEditTemplate
      let-formGroup="formGroup"
      let-column="column"
    >
      <kendo-datetimepicker
        [format]="dateTimeFormat"
        [formControl]="formGroup.get(column.field)"
      ></kendo-datetimepicker>
    </ng-template>
  </kendo-gantt-column>
  <kendo-gantt-timeline-week-view
    [timelineHeadersDateFormat]="timelineHeadersDateFormat"
  ></kendo-gantt-timeline-week-view>
  <!-- <kendo-gantt-timeline-day-view></kendo-gantt-timeline-day-view> -->
  <!-- <kendo-gantt-timeline-month-view></kendo-gantt-timeline-month-view> -->
  <!-- <kendo-gantt-timeline-year-view></kendo-gantt-timeline-year-view> -->
</kendo-gantt>
